<p>Hey dear user,</p>
<p>Follow the code to reset your password</p>
<p>
    <span style="text-align:center;">{{code}}</span>
</p>

<p>If you did not request this email you can safely ignore it.</p>